<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Create Workout</title>
      <link rel="stylesheet" href="CreateWorkout.css">
      <link rel="stylesheet" href="Parts/Header/Header.css">
   </head>

   <body>
      <%- include('./Parts/Header/Header.ejs') %>

      <div id="This-Body">
         
         <form class="workoutCreationCon" action="createWorkout" method="post">
            <input class="workouttitle" type="text" name="title" placeholder="שם האימון">

            <div id="exercise-con">
               
            </div>

            <input type="button" value="הוספת תרגיל" id="addExercise">
            <input type="submit" value="צור אימון" id="createWorkoutBtn">

         </form>

      </div>

      <script src="Scripts/CreateWorkout.js"></script>
   </body>
</html>