<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Create Workout</title>
      <link rel="stylesheet" href="CreateWorkout.css">
      <link rel="stylesheet" href="Parts/Header/Header.css">
   </head>

   <body>
      <%- include('./Parts/Header/Header.ejs') %>

      <div id="This-Body">
         <p>this is the create workout page!</p>
      </div>

   </body>
</html>