*{
   margin: 0px;padding: 0px;box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
#This-Body{
   padding-top: 100px;
   padding-bottom: 100px;
   direction: rtl;
   overflow: scroll;
}
.workoutCreationCon{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
}
.workoutCreationCon .workouttitle{
   width: 250px;
   height: 25px;
   font-size: 16px;
   margin-top: 10px;
   padding-right: 10px;
}
#exercise-con{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 10px;
}
.Exercise{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.exerciseName{
   width: 250px;
   height: 25px;
   font-size: 16px;
   margin-top: 10px;
   padding-right: 10px;
}
.Exercise div{
   display: flex;
   align-items: center;
   width: 250px;
   justify-content: space-between;
}
.Exercise div input{
   height: 25px;
   margin-top: 2px;
   width: 120px;
   text-align: center;
}
.Exercise .delete-btn{
   width: 250px;
   height: 20px;
   margin-top: 2px;
}
#createWorkoutBtn{
   width: 250px;
   height: 30px;
   font-weight: bold;
   margin-bottom: 10px;
   font-size: 16px;
   color: black;
   background-color: rgba(87, 121, 255, 0.7);
   border: 2px solid black;
}
#createWorkoutBtn:hover{
   background-color: rgba(87, 121, 255, 0.4);
   cursor: pointer;
}

#addExercise{
   width: 125px;
   height: 30px;
   color: black;
   font-weight: bold;
   background-color: rgba(87, 121, 255, 0.7);
   border: 2px solid black;
   font-size: 16px;
}
#addExercise input{
   color: black;
}
#addExercise:hover{
   background-color: rgba(87, 121, 255, 0.4);
   cursor: pointer;
}