*{
   padding: 0px;margin: 0px; box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
body{
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   justify-content: center;
   width: 100vw;
   height: 100vh;
   color: white;
   min-height: 100%;
   background: linear-gradient(135deg, #183771, #3f63a0);
}

#logoutButton{
   background:linear-gradient(135deg, rgb(255, 45, 45), rgb(255, 88, 88));
   border: 1px solid white;
   padding: 4px 15px;
   font-weight: bold;
   font-size: 14px;
   border-radius: 10px 0px;
   color: white;
}
#logoutButton:hover{
   cursor: pointer;
   border: 1px solid black;
   color: black;
}