*{
   margin: 0px; padding: 0px;box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
#This-Body{
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   touch-action: none;
   overflow: none;
}
.workouts-titles-con{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
}
.workouts-titles-con{
   text-align: center;
   width: 100vw;
}
.workouts-titles-con a:hover{
   background-color: rgba(0, 0, 0, 0.05);
}
.workouts-titles-con a{
   text-decoration: none;
   color: white;
   padding: 10px;
   width: 100%;
}